<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Computed properties</title>
  </head>
  <body>
    <div id="root">
      <h2>All tasks</h2>
      <ul>
        <li v-for="task in tasks" v-text="task.description"></li>
      </ul>

      <h2>To do</h2>
      <ul>
        <li v-for="task in incompleteTasks" v-text="task.description"></li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#root',
        data: {
          tasks: [
            { description: 'Go to the store', completed: false },
            { description: 'Clean', completed: true },
            { description: 'workout', completed: false },
            { description: 'call', completed: true },
            { description: 'work', completed: false },
          ],
        },

        computed: {
          incompleteTasks() {
            return this.tasks.filter((task) => !task.completed);
          },
        },
      });
    </script>
  </body>
</html>
